APP_NAME=Refract
APP_ENV=local
APP_KEY=AckfSECXIvnK5r28GVIWUAxmbBSjTsmF
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=sqlite
SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=database

REFRACT_ENVIRONMENT=

LANGFUSE_BASE_URL=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=

REFRACT_TRANSPORT=sync
REFRACT_DESTINATION=langfuse
